/* Reset Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  background-color: #0084fd;
  color: white;
  margin-bottom: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1130px;
  padding: 0 2rem;
  margin: 0 auto;
}

.logo {
  width: 5rem;
  padding: 2rem 0;
}

.desktop-menu {
  display: none;
  align-items: center;
}

.nav__hamburger {
  display: flex;
  align-items: center;
}

.desktop-menu li a {
  padding: 0.5rem;
  display: inline-block;
  color: white;
}

.nav__hamburger i {
  height: 2rem;
}

.button {
  border-radius: 2rem;
  color: black;
  background-color: white;
}

.button--blue {
  background-color: #0084fd;
  color: white;
  padding: 0.5rem 3rem;
}

@media screen and (min-width: 1024px) {
  .desktop-menu {
    display: flex;
  }

  .nav__hamburger {
    display: none;
  }
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card {
  background-color: white;
  color: black;
  border-radius: 2.5rem;
  padding: 2rem 1.5rem;
}

.card--get-a-demo {
  display: flex;
  background-color: #b5ddff;
  flex-basis: 2;
}

.c-demo__description {
  flex-basis: 50%;
}

.c-demo__description h3 {
  color: #0084fd;
  padding-bottom: 2.5rem;
}

.c-demo__description p {
  padding-bottom: 2rem;
}

.c-demo__img {
  flex-basis: 50%;
}

.c-demo .c-card {
  flex-basis: 1;
}

/* @media screen and (min-width: 767px) {
} */
