/* Reset Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
}

ul,
ol,
menu {
  list-style-type: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

header {
  background-color: #0084fd;
  color: white;
  margin-bottom: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1130px;
  padding: 0 2rem;
  margin: 0 auto;
}

.logo {
  width: 5rem;
  padding: 2rem 0;
}

.desktop-menu {
  display: none;
  align-items: center;
}

.nav__hamburger {
  display: flex;
  align-items: center;
}

.desktop-menu li a {
  padding: 0.5rem;
  display: inline-block;
  color: white;
}

.nav__hamburger i {
  height: 2rem;
}

.desktop-menu .button {
  color: black;
}

.button {
  border-radius: 2rem;
  color: black;
  background-color: white;
  white-space: nowrap;
}

.button--blue {
  background-color: #0084fd;
  color: white;
  padding: 0.5rem 3rem;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.card {
  background-color: white;
  color: black;
  border-radius: 2.5rem;
  padding: 2rem 1.5rem;
}

.c-card {
  aspect-ratio: 1;
}

.card--light-blue {
  background-color: #b5ddff;
}

.hero .card--get-a-demo {
  display: flex;
  flex-direction: column;
}

.c-demo__description {
  text-align: center;
}

.demo-desc__icon {
  color: #0084fd;
  font-size: 5.5rem;
}

.c-demo__description h3 {
  color: #0084fd;
  padding-bottom: 2.5rem;
  font-size: 1.75rem;
}

.c-demo__description p {
  padding-bottom: 2rem;
}

.c-demo__img {
  flex-basis: 100%;
  display: flex;
  align-items: flex-end;
}

.c-demo__img img {
  transform: translateY(2rem);
}

/* planning */

.planning {
  background-color: #9792e4;
  color: white;
  padding-bottom: 4rem;
}

.planning__head {
  margin-bottom: 2rem;
}

.planning__head h3 {
  margin: 4rem 0 3rem;
  font-size: 1.75rem;
}

.planning__head img {
  margin-top: 3.5rem;
}

.planning .card h4 {
  font-size: 1.5rem;
}

.planning .card {
  text-align: center;
}

.planning .card i {
  border-radius: 50%;
  background-color: #9792e4;
  padding: 0.5rem;
}

.planning .card p {
  margin: 1.75rem 0 2rem;
}

/* testimonials */
.card--purple {
  background-color: #9792e4;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  margin-bottom: 2rem;
}

.testimonials {
  text-align: center;
}

.testimonials__header {
  padding: 2.5rem 0;
}

.testimonials__header h4 {
  color: #9792e4;
  font-size: 1.5rem;
  padding: 2rem 0;
}

.testimonials__img-box {
  width: 12rem;
}

.testimonials__img {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  aspect-ratio: 1;
}

.testimonials__quote {
  margin-bottom: 2rem;
}

.testimonials__quote::before {
  font-family: "Font Awesome 5 Free";
  content: "\f10d";
  font-weight: 900;
  font-size: 1rem;
}

.testimonials__quote::after {
  font-family: "Font Awesome 5 Free";
  content: "\f10e";
  font-weight: 900;
  font-size: 1rem;
}

/* benefits */
.benefits {
  background-color: #9792e4;
}

.benefits h4 {
  font-size: 1.5rem;
  padding: 4rem 0;
  color: white;
  text-align: center;
}

.benefits__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-direction: column;
}

.benefits-card__number {
  font-size: 2rem;
  color: #9792e4;
}

.benefits-card__title {
  color: #9792e4;
  font-size: 1rem;
  padding: 1.5rem 0;
}

.benefits-card__description {
  margin-bottom: 1.5rem;
}

.button--purple {
  background-color: #9792e4;
  color: white;
  padding: 0.5rem 1.5rem;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  * {
    font-size: 1rem;
  }

  .nav__hamburger {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .c-demo__description {
    flex-basis: 50%;
  }

  .card--get-a-demo {
    flex-direction: row;
  }

  .hero .card {
    width: calc((100% - 3rem) / 3);
  }

  .hero .card--get-a-demo {
    display: flex;
    width: calc((100% - 1.5rem) / 3 * 2);
    flex-direction: row;
  }

  .c-demo__img {
    flex-basis: 50%;
    display: flex;
    align-items: flex-end;
  }

  .card--purple {
    flex-direction: row;
    text-align: left;
    gap: 1.5rem;
  }

  .benefits__row {
    flex-direction: row;
  }

  .benefits__row .card {
    width: calc((100% - 1.5rem) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .planning {
    display: flex;
    gap: 1rem;
  }

  .planning .card {
    align-self: flex-end;
  }

  .benefits__row .card {
    width: calc((100% - 3rem) / 3);
  }
}
